.centerblockContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contentTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}
.playlistTitleCol {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
}

.playlistTitleSvg {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}
.col01 {
  width: 447px;
}

.col02 {
  width: 321px;
}

.col03 {
  width: 245px;
}

.col04 {
  width: 60px;
  text-align: end;
}
.contentPlaylist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
  height: 520px;
  padding-right: 5px;
}
.contentPlaylist::-webkit-scrollbar {
  width: 3px;               /* ширина scrollbar */
}
.contentPlaylist::-webkit-scrollbar-track {
  background: rgb(92, 91, 89);        /* цвет дорожки */
}
.contentPlaylist::-webkit-scrollbar-thumb {
  background-color: rgb(166, 166, 170);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */ 
}
